{% extends "layout.jinja2" %}
{% block create %}
{% if cats %}
    {% for cat in cats %}
        <div><a href="{{ cat.image }}"><img class="list_item" src="{{ cat.image }}"></a></div>
        <article class="list_item">
            <h3><a href="{{ request.route_url('cat_view', id=cat.id) }}">{{ cat.category }}</a></h3>
            <hr />
            <p>Created <strong>{{ cat.creation_date }}</strong></p>
            <p>Amount: {{ cat.amount }}</p>
        </article>
    {% endfor %}
{% else %}
    <p>You have no expenses to list.</p>
{% endif %}
{% endblock %}
{% block footer %}
<footer><a href="{{ request.route_url('home') }}">Home</a></footer>
{% endblock %}