{% extends "layout.jinja2" %}
{% block create %}
{% if cats %}
    {% for cat in cats %}
        <article>
            <h2><a href="{{ request.route_url('detail', id=cat.id) }}">{{ cat.category }}</a></h2>
            <hr />
            <p><a href="{{ cat.image }}"><<img src="{{ cat.image }}">/a></p>
            <p>Created <strong>{{ cat.creation_date }}</strong></p>
            <p>Amount: {{ cat.amount }}</p>
        </article>
    {% endfor %}
{% else %}
    <p>You have no expenses to list.</p>
{% endif %}
{% endblock %}
{% block footer %}
<footer><a href="{{ request.route_url('home') }}">Home</a></footer>
{% endblock %}