<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/static/PeerMid/base.css">
    <link rel="stylesheet" type="text/css" href="/static/PeerMid/layouts.css">
    <link rel="stylesheet" type="text/css" href="/static/PeerMid/modules.css">
  </head>
  <body>
    <header class="clearfix">
    <section class="something">
    {% block new_user %}
    {% endblock %}
    </section>
    <section>
      <div class="title-pic">
      </div>
      <div class="title">Snorgle_Cats</div>
    </section>
    <section>
      <nav class="top-nav">
      <ul>
        <li class="tab" data-content="entries"><a href="/"> Meow</a></li>
        <li><a href="/album">Gallery</a></li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog"> Blog</a></li>
        {% block body %}
        {% endblock %}
      </ul>
      </nav>
    </header>
    <main>
      <section class="">
        {% block create %}
        {% endblock %}
      </section>
      <section id="content" class="tab-content">
      </section>
    </main>
    <footer>
      {% block footer %}
      {% endblock %}
    </footer>
  </body>
</html>